<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="/statics/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/statics/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
<link href="/statics/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/statics/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="/statics/media/css/style.css" rel="stylesheet" type="text/css"/>
<link href="/statics/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
<link href="/statics/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="/statics/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link href="/statics/media/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
<link href="/statics/media/css/daterangepicker.css" rel="stylesheet" type="text/css" />
<link href="/statics/media/css/fullcalendar.css" rel="stylesheet" type="text/css"/>
<link href="/statics/media/css/jqvmap.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/statics/media/css/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
<!-- END PAGE LEVEL STYLES -->
