<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<script src="/statics/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="/statics/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/statics/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
<script src="/statics/media/js/bootstrap.min.js" type="text/javascript"></script>
<!--[if lt IE 9]>
<script src="/statics/media/js/excanvas.min.js"></script>
<script src="/statics/media/js/respond.min.js"></script>
<![endif]-->
<script src="/statics/media/js/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/statics/media/js/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/statics/media/js/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/statics/media/js/jquery.uniform.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="/statics/media/js/setsidebar.js"></script>

<!-- END JAVASCRIPTS -->
<!--<script type="text/javascript">  var _gaq = _gaq || [];  _gaq.push(['_setAccount', 'UA-37564768-1']);  _gaq.push(['_setDomainName', 'keenthemes.com']);  _gaq.push(['_setAllowLinker', true]);  _gaq.push(['_trackPageview']);  (function() {    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);  })();</script></body>-->
<!-- END BODY -->