<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>国内游</title>
    <link rel="stylesheet" href="/statics/wap/css/comm.css" />
    <link rel="stylesheet" href="/statics/wap/css/index.css" />
    <link rel="stylesheet" href="/statics/wap/css/swiper.min.css" />
</head>
<body class="wap-bg-1">

<header class="wap-bg-5 wap-pst-r" id="listheader">
    <h3 class="wap-fnts-2">国内游</h3>
    <a href="#" class="list-top-a1"  id="check"><img src="/statics/wap/images/fkico.png" /></a>
    <a href="/" class="list-top-a2"><img src="/statics/wap/images/jtico.png"  /></a>
</header>
<div id="listnavbox" style="display: none;">
    <div class="navlist1 wap-bg-2 wap-pad-1">
        <ul class="listnav">
            <li class="index "><a href="/">首页</a></li>
            <li class="around "><a href="/m/around">周边游</a></li>
            <li class="inbound "><a href="/m/inbound">国内游</a></li>
            <li class="outbound "><a href="/m/outbound">境外游</a></li>
            <li class="ticket "><a href="/m/ticket">主题游</a></li>
            <li class="local "><a href="/m/local">本地游玩</a></li>
        </ul>
        <h3 class="wap-fnts-1">出发地</h3>
        <div id="brand">
            <ul class="listnav">
                <li class="gree"><a href="#">不限</a> </li>
                {{if !empty($system)}}
                {{foreach $system as $key=>$value}}
                {{if $value['system_class']==1}}
                <li ast="{{$value['system_id']}}" ><a href="inbound_start={{$value['system_id']}}">{{$value['system_name']}}</a></li>
                {{/if}}
                {{/foreach}}
                {{/if}}
            </ul>

        </div>
        <h3 class="wap-fnts-1">目的地</h3>
        <div id="brand1" class="jy-border-bd-1">
            <ul class="listnav">
                <li class="gree"><a href="#">不限</a> </li>
                {{if !empty($system)}}
                {{foreach $system as $key=>$value}}
                {{if $value['system_class']==2}}
                <li ast="{{$value['system_id']}}" ><a href="inbound_end={{$value['system_id']}}">{{$value['system_name']}}</a></li>
                {{/if}}
                {{/foreach}}
                {{/if}}
            </ul>
        </div>
        <h3 class="wap-fnts-1">出游天数</h3>
        <div id="brand2" class="jy-border-bd-1">
            <ul class="listnav">
                <li class="gree"><a href="#">不限</a> </li>
                {{if !empty($system)}}
                {{foreach $system as $key=>$value}}
                {{if $value['system_class']==3}}
                <li ast="{{$value['system_id']}}" ><a href="inbound_day={{$value['system_id']}}">{{$value['system_name']}}</a></li>
                {{/if}}
                {{/foreach}}
                {{/if}}
            </ul>
        </div>
        <h3 class="wap-fnts-1">出发时间</h3>
        <div id="brand3" class="jy-border-bd-1">
            <ul class="listnav">
                <li class="gree"><a href="#">不限</a> </li>
                {{if !empty($system)}}
                {{foreach $system as $key=>$value}}
                {{if $value['system_class']==4}}
                <li ast="{{$value['system_id']}}" ><a href="inbound_start_time={{$value['system_id']}}">{{$value['system_name']}}</a></li>
                {{/if}}
                {{/foreach}}
                {{/if}}
            </ul>
        </div>
        <h3 class="wap-fnts-1">主题路线</h3>
        <div id="brand4" class="jy-border-bd-1">
            <ul class="listnav">
                <li class="gree"><a href="#">不限</a> </li>
                {{if !empty($system)}}
                {{foreach $system as $key=>$value}}
                {{if $value['system_class']==5}}
                <li ast="{{$value['system_id']}}" ><a href="inbound_sub_line={{$value['system_id']}}">{{$value['system_name']}}</a></li>
                {{/if}}
                {{/foreach}}
                {{/if}}
            </ul>
        </div>

    </div>
</div>
<script type="text/javascript">
    var Abut=document.getElementById("check");
    var ListNavBox=document.getElementById("listnavbox");
    Abut.onclick=function(){
        if(ListNavBox.style.display=="block"){
            ListNavBox.style.display="none";
        }else{
            ListNavBox.style.display="block";
        }
    }

</script>

<!--国内旅游-->
<section id="content-box" class="wap-bg-2 wap-marg-t-1">
    <div class="text-list">
        <ul class="wap-ul-1">
            {{if !empty($inbound)}}
            {{foreach $inbound['rows'] as $key=>$value}}
            <li>
                <a href="/m/inbound/details/{{$value['inbound_id']}}.html">
                    <img src="{{$value['inbound_wap_pic1']}}" />
                    <dl class="text-dl-1 wap-pst-r">
                        <dd>{{cut_str($value['inbound_name'],30)}}</dd>
                        <dt>{{cut_str($value['inbound_spot'],30)}}</dt>
                        <label><b>{{$value['inbound_end_name']}}</b><i class="wap-fr">￥{{$value['inbound_market_price']}}<em>起/份</em></i></label>
                    </dl>
                </a>
            </li>
            {{/foreach}}
            {{/if}}
        </ul>
    </div>

</section>
<div class="clear"></div>
<div class="pagination pagination-left">
    <ul>
		<li>
			{{if $inbound['page']==0 or empty($inbound['page'])}}<span class="prev"> ← Prev</span>{{else}}<a class="prev" href="/m/inbound/page_{{max($inbound['page']-1,0)}}.html"> ← Prev</a>{{/if}}
		</li>
		{{for $o=1 to $inbound['page_all']}}
		<li>
			{{if $inbound['page']+1==$o}}<span>{{$o}}</span>{{else}}<a href="/m/inbound/page_{{$o-1}}.html">{{$o}}</a>{{/if}}
		</li>
		{{/for}}
		<li>
			{{if ($inbound['page']+1)==$inbound['page_all'] or $inbound['page_all']==0}}<span>Next → </span>{{else}}<a href="/m/inbound/page_{{min($inbound['page']+1,$inbound['page_all']-1)}}.html">Next → </a>{{/if}}
		</li>
    </ul>
</div>
<!--底部-->
{{include file='../common/footer.html'}}
<script src="/statics/pc/js/jquery-1.8.3.min.js"></script>
<script type="application/javascript">
    var ast = {
        getinbound_start : null,//url中inbound_start值
        getinbound_end : null,//url中inbound_end值
        getinbound_day : null,//url中inbound_day值
        getinbound_start_time : null,//url中inbound_start_time值
        getpinbound_sub_line : null,//url中inbound_sub_line值
        dominbound_start : null,
        dominbound_end : null,
        dominbound_day : null,
        dominbound_start_time : null,
        dominbound_sub_line : null,
        init : function(){
            ast.urlResolve();//获取url中五个参数

            ast.dominbound_start = $('#brand li');
            ast.operateSelect(ast.dominbound_start,ast.getinbound_start);
            ast.operateHref(ast.dominbound_start,'inbound_start');

            ast.dominbound_end = $('#brand1 li');
            ast.operateSelect(ast.dominbound_end,ast.getinbound_end);
            ast.operateHref(ast.dominbound_end,'inbound_end');

            ast.dominbound_day = $('#brand2 li');
            ast.operateSelect(ast.dominbound_day,ast.getinbound_day);
            ast.operateHref(ast.dominbound_day,'inbound_day');

            ast.dominbound_start_time = $('#brand3 li');
            ast.operateSelect(ast.dominbound_start_time,ast.getinbound_start_time);
            ast.operateHref(ast.dominbound_start_time,'inbound_start_time');

            ast.dominbound_sub_line = $('#brand4 li');
            ast.operateSelect(ast.dominbound_sub_line,ast.getpinbound_sub_line);
            ast.operateHref(ast.dominbound_sub_line,'inbound_sub_line');
        },
        urlResolve : function(){
            /*
             以?分隔符，如果返回数组长度等于2，get[1]的数据类似brand=2&grade=13&price=0-5
             再以&分隔符分隔参数，再分别用brand=、grade=、price=得到各自的url参数
             */
            get = document.location.href.split('?');
            if (get.length==2){
                gets = get[1].split('&');
                for (i=0;i<gets.length;i++){
                    tem = gets[i].split('inbound_start=');
                    if (tem.length==2){ast.getinbound_start = tem[1];	continue;}
                    tem = gets[i].split('inbound_end=');
                    if (tem.length==2){ast.getinbound_end = tem[1];	continue;}
                    tem = gets[i].split('inbound_day=');
                    if (tem.length==2){ast.getinbound_day = tem[1];	continue;}
                    tem = gets[i].split('inbound_start_time=');
                    if (tem.length==2){ast.getinbound_start_time = tem[1];	continue;}
                    tem = gets[i].split('inbound_sub_line=');
                    if (tem.length==2){ast.getpinbound_sub_line = tem[1];	continue;}
                }
            }
        },
        operateSelect : function(dom,urlattr){
            /*
             如果特定url参数不为空，比如brand=2，则首先清除不限的选中样式
             再循环查找到li属性ast=urlattr，标记选中，结束循环
             */
            if (urlattr!=null){
                dom.first().removeClass('gree');
                ast._urlattr = urlattr;
                dom.each(function(){
                    if ($(this).attr('ast')==ast._urlattr){
                        $(this).addClass('gree');	return;
                    }
                });
            }
        },
        operateHref : function(dom,type){
            /*
             将三url参数保存到副本中，type枚举:'brand'、'grade'、'price'
             当type='brand'表示操作<div id="brand">，此时ast._getbrand不取url中brand值，而取<li ast="2">中ast参数
             type='grade'、type='price' 类推

             _getbrand如果为空返回‘?’，不为空返回'?brand='
             href 不等于'?'且_getgrade不为空，则需要&拼接
             最终得到相应href字符串
             */
            ast._type = type;
            dom.each(function() {
                ast._getinbound_start = ast.getinbound_start;
                ast._getinbound_end = ast.getinbound_end;
                ast._getinbound_day = ast.getinbound_day;
                ast._getinbound_start_time = ast.getinbound_start_time;
                ast._getpinbound_sub_line = ast.getpinbound_sub_line;

                switch (ast._type){
                    case 'inbound_start':
                        ast._getinbound_start = $(this).attr('ast');	break;
                    case 'inbound_end':
                        ast._getinbound_end = $(this).attr('ast');	break;
                    case 'inbound_day':
                        ast._getinbound_day = $(this).attr('ast');	break;
                    case 'inbound_start_time':
                        ast._getinbound_start_time = $(this).attr('ast');	break;
                    case 'inbound_sub_line':
                        ast._getpinbound_sub_line = $(this).attr('ast');	break;
                }
                href = ast._getinbound_start==null ? '?' : '?inbound_start=' + ast._getinbound_start;
                href += ((href!='?' && ast._getinbound_end!=null) ? '&' : '') + (ast._getinbound_end==null ? '' : 'inbound_end=' + ast._getinbound_end);
                href += ((href!='?' && ast._getinbound_day!=null) ? '&' : '') + (ast._getinbound_day==null ? '' : 'inbound_day=' + ast._getinbound_day);
                href += ((href!='?' && ast._getinbound_start_time!=null) ? '&' : '') + (ast._getinbound_start_time==null ? '' : 'inbound_start_time=' + ast._getinbound_start_time);
                href += ((href!='?' && ast._getpinbound_sub_line!=null) ? '&' : '') + (ast._getpinbound_sub_line==null ? '' : 'inbound_sub_line=' + ast._getpinbound_sub_line);
                $(this).children('a').attr('href',href);
            });
        }
    }
    $(function(){
        ast.init();
    });
    $('.inbound').addClass('gree');
</script>
</body>
</html>