<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>{{$web_name}}</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="/statics/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="/statics/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="/statics/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="/statics/media/css/select2_metro.css" />
	<link rel="stylesheet" href="/statics/media/css/DT_bootstrap.css" />
	<!-- END PAGE LEVEL STYLES -->
	{{include file='../../common/importAll.html'}}
	<link rel="shortcut icon" href="/statics/media/image/favicon.ico" />
</head>
<!-- END HEAD -->
<body class="page-header-fixed">
	{{include file='../../common/header.html'}}
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		{{include file='../../common/sidebar.html'}}
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div id="portlet-config" class="modal hide">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button"></button>
					<h3>Widget Settings</h3>
				</div>
				<div class="modal-body">
					Widget settings form goes here
				</div>
			</div>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						<div class="color-panel hidden-phone">
							<div class="color-mode-icons icon-color"></div>
							<div class="color-mode-icons icon-color-close"></div>
							<div class="color-mode">
								<p>THEME COLOR</p>
								<ul class="inline">
									<li class="color-black current color-default" data-style="default"></li>
									<li class="color-blue" data-style="blue"></li>
									<li class="color-brown" data-style="brown"></li>
									<li class="color-purple" data-style="purple"></li>
									<li class="color-grey" data-style="grey"></li>
									<li class="color-white color-light" data-style="light"></li>
								</ul>
								<label>
									<span>Layout</span>
									<select class="layout-option m-wrap small">
										<option value="fluid" selected>Fluid</option>
										<option value="boxed">Boxed</option>
									</select>
								</label>
								<label>
									<span>Header</span>
									<select class="header-option m-wrap small">
										<option value="fixed" selected>Fixed</option>
										<option value="default">Default</option>
									</select>
								</label>
								<label>
									<span>Sidebar</span>
									<select class="sidebar-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected>Default</option>
									</select>
								</label>
								<label>
									<span>Footer</span>
									<select class="footer-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected>Default</option>
									</select>
								</label>
							</div>
						</div>
						<!-- END BEGIN STYLE CUSTOMIZER -->
						<h3 class="page-title">
							本地游玩配置管理
							<small>Background management system</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a>系统菜单</a>
								<span class="icon-angle-right"></span>
								<a href="">本地游玩配置管理</a>
							</li>
						</ul>
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN DASHBOARD STATS -->
						<div class="portlet box blue">
							<div class="portlet-title">
								<div class="caption"><i class="icon-list"></i>本地游玩配置内容列表</div>
								<div class="tools">
									<a href="javascript:;" class="collapse"></a>
									<!--<a href="#portlet-config" data-toggle="modal" class="config"></a>-->
									<a href="javascript:;" class="reload"></a>
									<a href="javascript:;" class="remove"></a>
								</div>
							</div>
							<div class="portlet-body">
								<div class="clearfix">
									<div class="btn-group">
										<button onclick="location='/Admin_JySystemLocal/add'" class="btn green" >
											新建内容 <i class="icon-plus"></i>
										</button>
									</div>
									<div class="btn-group pull-right">
										<form action="/Admin_JySystemLocal/index" method="get" class="form-horizontal" style="margin:0;" enctype="multipart/form-data" >
											<div class="btn-group">
												<label class="control-label-index">类型：</label>
												<div class="controls-index">
													<select class="span12 select2" id="" name="system_class" data-placeholder="Choose a Category" >
														<option value="">请选择类型</option>
														{{if !empty($channel)}}
														{{foreach $channel as $k=>$v}}
														{{if $system_class==$k}}
														<option value="{{$k}}" selected>{{$v}}</option>
														{{else}}
														<option value="{{$k}}">{{$v}}</option>
														{{/if}}
														{{/foreach}}
														{{/if}}
													</select>
												</div>
											</div>
											<div class="btn-group">
												<button type="submit" class="btn green"><i class="icon-search"></i>&nbsp;查询
												</button>
											</div>
										</form>
									</div>
								</div>
								<table class="table table-striped table-hover table-bordered" id="sample_editable_1">
									<thead>
									<tr>
										<th>ID</th>
										<th>类型</th>
										<th>名称</th>
										<th>类别</th>
										<th>首页显示</th>
										<th>备注</th>
										<th>状态</th>
										<th>操作</th>
									</tr>
									</thead>
									<tbody>
									{{foreach $system as $k=>$v}}
									<tr class="">
										<td>{{$v['system_id']}}</td>
										<td>{{$v['system_class_name']}}</td>
										<td>{{$v['system_name']}}</td>
										<td>{{$v['system_type_name']}}</td>
										<td>{{menu_hide($v['system_hide'])}}</td>
										<td>{{$v['system_note']}}</td>
										<td>{{status($v['status'])}}</td>
										<td>
										<a class="btn_g icn-only {{if $v['status']}}yellow{{else}}blue{{/if}}" href="/Admin_JySystemLocal/{{if $v['status']}}disable{{else}}enable{{/if}}?system_id={{$v['system_id']}}">
											{{status_btn($v['status'])}}
										</a>&nbsp;&nbsp;
										<a class="btn_g purple icn-only" href="/Admin_JySystemLocal/edit?system_id={{$v['system_id']}}&system_class={{if !empty($system_class)}}{{$system_class}}{{/if}}">
											修改
										</a>&nbsp;&nbsp;
										<a class="btn_g red icn-only" href="/Admin_JySystemLocal/del?system_id={{$v['system_id']}}">
											删除
										</a>
										</td>
									</tr>
									{{/foreach}}
									</tbody>
								</table>
							</div>
						</div>
						<!-- END DASHBOARD STATS -->
					</div>
				</div>
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	{{include file='../../common/footer.html'}}
	<!-- BEGIN CORE PLUGINS -->
	{{include file='../../common/importBottomAll.html'}}
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script type="text/javascript" src="/statics/media/js/select2.min.js"></script>
	<script type="text/javascript" src="/statics/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" src="/statics/media/js/DT_bootstrap.js"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="/statics/media/js/app.js"></script>
	<script src="/statics/media/js/table-editable.js"></script>
	<script>
		jQuery(document).ready(function() {
			App.init();
			TableEditable.init();
			Setsidebarfun.init();
		});
	</script>
</body>
</html>