<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<html>
<head>
    <meta charset="utf-8" />
    <title>家园旅游</title>
    <link rel="stylesheet" href="/statics/pc/css/index_all.css" />
    <script src="/statics/pc/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/statics/pc/laydate/laydate.js" ></script>
    <script type="text/javascript" src="/statics/pc/js/from1.js" ></script>
</head>
<body>
{{include file='../common/header.html'}}
<!--导航与广告-->
<div id="scrollpicdiv" class="jy-pos-r" style="height: 510px;">
    <div class="jy-w-1 jy-m-0 jy-pos-r nav-list" style="z-index:2;">
        <div class="jy-p-1 jy-bg-3 jy-w-2" style="position: absolute;top: 15px;">
            <div class="nav-1 jy-border-b-3 jy-pb-1">
                <a href="/around"><h3 class="jy-pb-1">周边游</h3></a>
                {{if !empty($system_around)}}
                {{foreach $system_around as $key=>$value}}
                <a href="/around?around_end={{$value['system_id']}}">{{$value['system_name']}}</a>
                {{/foreach}}
                {{/if}}
            </div>
            <div class="nav-1 jy-border-b-3 jy-m-1 jy-pb-1">
                <a href="/inbound"><h3 class="jy-pb-1">国内游</h3></a>
                {{if !empty($system_inbound)}}
                {{foreach $system_inbound as $key=>$value}}
                <a href="/around?around_end={{$value['system_id']}}">{{$value['system_name']}}</a>
                {{/foreach}}
                {{/if}}
            </div>
            <div class="nav-1 jy-border-b-3 jy-m-1 jy-pb-1">
                <a href="/outbound"><h3 class="jy-pb-1">出境游</h3></a>
                {{if !empty($system_outbound)}}
                {{foreach $system_outbound as $key=>$value}}
                <a href="/around?around_end={{$value['system_id']}}">{{$value['system_name']}}</a>
                {{/foreach}}
                {{/if}}
            </div>
            <div class="nav-1 jy-border-b-3 jy-m-1 jy-pb-1">
                <a href="/local"><h3 class="jy-pb-1">本地游玩</h3></a>
                {{if !empty($system_local)}}
                {{foreach $system_local as $key=>$value}}
                <a href="/around?around_end={{$value['system_id']}}">{{$value['system_name']}}</a>
                {{/foreach}}
                {{/if}}
            </div>
            <div class="nav-1 jy-border-b-3 jy-m-1 jy-pb-1">
                <a href="/ticket"><h3 class="jy-pb-1">景点门票</h3></a>
                {{if !empty($system_ticket)}}
                {{foreach $system_ticket as $key=>$value}}
                <a href="/around?around_end={{$value['system_id']}}">{{$value['system_name']}}</a>
                {{/foreach}}
                {{/if}}
            </div>
            <div class="nav-1 jy-m-1 jy-pb-1">
                <a href="/theme"><h3 class="jy-pb-1">主题游</h3></a>
                {{if !empty($system_theme)}}
                {{foreach $system_theme as $key=>$value}}
                <a href="/around?around_end={{$value['system_id']}}">{{$value['system_name']}}</a>
                {{/foreach}}
                {{/if}}
            </div>
        </div>
    </div>
    <!--焦点图-->
    <div class="scrollbox">
        <div id="picbox" class="picbox">
            <ul>
                {{if !empty($ad_4)}}
                {{foreach $ad_4 as $key=>$value}}
                {{if $key==0}}
                    <li class="on2"><a href="{{$value['ad_url']}}"><img src="{{$value['ad_pic']}}" /></a></li>
                {{else}}
                    <li ><a href="{{$value['ad_url']}}"><img src="{{$value['ad_pic']}}" /></a></li>
                {{/if}}
                {{/foreach}}
                {{/if}}
            </ul>
        </div>
        <div class="btndiv jy-pos-a" id="numdiv">
            <ul>
                <li class="on3">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript" src="/statics/pc/js/scroll.js" ></script>
<!--主体-->
<div id="main">
    <div class="jy-w-1 jy-m-3 clears">
        <div class="jy-f-right tx-w-2">
            <div class="tg-div jy-p-2 jy-bg-7">
                <h3 class="jy-h3-0 jy-cor-0 jy-ds-inl">团购惠</h3>
                <div class="a-divbox-1">
                    {{if !empty($around_t)}}
                    {{foreach $around_t as $key=>$value}}
                    <a href="/around/details?id={{$value['around_id']}}">
                        <img src="{{$value['around_pic1']}}" width="255" height="150" />
                        <span></span>
                        <h3>{{cut_str($value['around_name'],15)}}</h3>
                    </a>
                    {{/foreach}}
                    {{/if}}
                    {{if !empty($inbound_t)}}
                    {{foreach $inbound_t as $key=>$value}}
                    <a href="/inbound/details?id={{$value['inbound_id']}}">
                        <img src="{{$value['inbound_pic1']}}" width="255" height="150" />
                        <span></span>
                        <h3>{{cut_str($value['inbound_name'],15)}}</h3>
                    </a>
                    {{/foreach}}
                    {{/if}}
                    {{if !empty($outbound_t)}}
                    {{foreach $outbound_t as $key=>$value}}
                    <a href="/outbound/details?id={{$value['outbound_id']}}">
                        <img src="{{$value['outbound_pic1']}}" width="255" height="150" />
                        <span></span>
                        <h3>{{cut_str($value['outbound_name'],15)}}</h3>
                    </a>
                    {{/foreach}}
                    {{/if}}
                    {{if !empty($local_t)}}
                    {{foreach $local_t as $key=>$value}}
                    <a href="/local/details?id={{$value['local_id']}}">
                        <img src="{{$value['local_pic1']}}" width="255" height="150" />
                        <span></span>
                        <h3>{{cut_str($value['local_name'],15)}}</h3>
                    </a>
                    {{/foreach}}
                    {{/if}}
                    {{if !empty($ticket_t)}}
                    {{foreach $ticket_t as $key=>$value}}
                    <a href="/ticket/details?id={{$value['ticket_id']}}">
                        <img src="{{$value['ticket_pic1']}}" width="255" height="150" />
                        <span></span>
                        <h3>{{cut_str($value['ticket_name'],15)}}</h3>
                    </a>
                    {{/foreach}}
                    {{/if}}
                </div>
            </div>
            <!--本地游玩-->
            <div class="tg-div jy-p-2 jy-bg-7 jy-m-2 ">
                <h3 class="jy-h3-0 jy-cor-1 jy-ds-inl">本地游玩</h3>
                <div class="a-divbox-2">
                    {{if !empty($local)}}
                    {{foreach $local as $key=>$value}}
                    <a href="/local/details?id={{$value['local_id']}}">
                        <img src="{{$value['local_pic1']}}" width="255" height="150" />
                        <dl>
                            <dt>{{cut_str($value['local_name'],20)}}</dt>
                            <dt class="line-t">￥95</dt>
                            <dd>￥85</dd>
                        </dl>
                    </a>
                    {{/foreach}}
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="tx-w-1 jy-f-left">
            <h3 class="jy-h3-0 jy-cor-0 jy-ds-inl">推荐路线</h3>
            <a href="/around" class="jy-f-right">更多</a>
            <div class="jy-ul-1" id="listdivbox">
                <ul>
                    {{if !empty($around)}}
                    {{foreach $around as $key=>$value}}
                    <li>
                        <a href="/around/details?id={{$value['around_id']}}"><img src="{{$value['around_pic1']}}" width="210" height="140" /></a>
									<span>
										<h3><a href="/around/details?id={{$value['around_id']}}">{{$value['around_name']}}</a></h3>
										<dl>
                                            <dt class="tx-ico-1">酒店：{{$value['around_address']}} </dt>
                                            <dt class="tx-ico-2">景点：{{$value['around_spot']}} </dt>
                                        </dl>
									</span>
                        <label>
                            <dl>
                                <dt><em>￥</em>{{$value['around_market_price']}}<i>起</i></dt>
                                <dd>原价:￥{{$value['around_cost_price']}}/人</dd>
                            </dl>
                            <a href="/around/details?id={{$value['around_id']}}" target="_blank"><button type="button" value="">前往预定</button></a>
                        </label>
                    </li>
                    {{/foreach}}
                    {{/if}}
                    {{if !empty($inbound)}}
                    {{foreach $inbound as $key=>$value}}
                    <li>
                        <a href="/inbound/details?id={{$value['inbound_id']}}"><img src="{{$value['inbound_pic1']}}" width="210" height="140" /></a>
									<span>
										<h3><a href="/inbound/details?id={{$value['inbound_id']}}">{{$value['inbound_name']}}</a></h3>
										<dl>
                                            <dt class="tx-ico-1">酒店：{{$value['inbound_address']}} </dt>
                                            <dt class="tx-ico-2">景点：{{$value['inbound_spot']}} </dt>
                                        </dl>
									</span>
                        <label>
                            <dl>
                                <dt><em>￥</em>{{$value['inbound_market_price']}}<i>起</i></dt>
                                <dd>原价:￥{{$value['inbound_cost_price']}}/人</dd>
                            </dl>
                            <a href="/inbound/details?id={{$value['inbound_id']}}" target="_blank"><button type="button" value="">前往预定</button></a>
                        </label>
                    </li>
                    {{/foreach}}
                    {{/if}}
                    {{if !empty($outbound)}}
                    {{foreach $outbound as $key=>$value}}
                    <li>
                        <a href="/outbound/details?id={{$value['outbound_id']}}"><img src="{{$value['outbound_pic1']}}" width="210" height="140" /></a>
									<span>
										<h3><a href="/outbound/details?id={{$value['outbound_id']}}">{{$value['outbound_name']}}</a></h3>
										<dl>
                                            <dt class="tx-ico-1">酒店：{{$value['outbound_address']}} </dt>
                                            <dt class="tx-ico-2">景点：{{$value['outbound_spot']}} </dt>
                                        </dl>
									</span>
                        <label>
                            <dl>
                                <dt><em>￥</em>{{$value['outbound_market_price']}}<i>起</i></dt>
                                <dd>原价:￥{{$value['outbound_cost_price']}}/人</dd>
                            </dl>
                            <a href="/outbound/details?id={{$value['outbound_id']}}" target="_blank"><button type="button" value="">前往预定</button></a>
                        </label>
                    </li>
                    {{/foreach}}
                    {{/if}}

                </ul>
            </div>
        </div>


        <div class="clear"></div>
    </div>

    <!--景点门票-->
    <div class="jy-w-1 jy-m-3 jy-bg-7">
        <div class="tx-p-2 jy-pos-r">
            <h3 class="jy-h3-0 jy-cor-3 jy-ds-inl">景点门票</h3>
            <a href="/ticket" class="jy-f-right jy-pr-2">更多</a>
            <div id="column" class="columdiv">
                <ul>
                    {{if !empty($system)}}
                    {{foreach $system as $key=>$value}}
                    {{if $key==0}}
                        <li class="select2">{{$value['system_name']}}</li>
                    {{else}}
                        <li>{{$value['system_name']}}</li>
                    {{/if}}
                    {{/foreach}}
                    {{/if}}

                </ul>
            </div>
            <div id="columnbox" class="columnbox">
                {{if !empty(ticket) and !empty($system)}}
                {{foreach $system as $sysytem_key=>$system_value}}
                    {{if $sysytem_key==0}}
                    <div class="col-content">
                    {{else}}
                    <div class="col-content jy-hide">
                    {{/if}}
                        {{foreach $ticket as $key=>$value}}
                        {{if $system_value['system_id']==$value['ticket_end']}}
                        <a href="/ticket/details?id={{$value['ticket_id']}}">
                            <img src="{{$value['ticket_pic1']}}" width="225" height="155"/>
                            <span>{{$value['ticket_name']}}</span>
                            <em>￥{{$value['ticket_market_price']}}/起</em>
                        </a>
                        {{/if}}
                        {{/foreach}}
                    </div>
                {{/foreach}}
                {{/if}}

            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<!--<div id="fromshow2" style="display: none;" >-->
    <!--<div class="formbg"></div>-->
    <!--<div class="formdiv2">-->
        <!--<form method="post" name="" id="form_01">-->
            <!--<div id="myform3">-->
                <!--<h3></h3>-->
                <!--<label> <input type="text" name="username" value="" id="user1" placeholder="姓名" class="input1 jy-ico-1" /><dd>请输入用户名</dd> </label>-->
                <!--<label> <input type="text" name="telnum" value="" id="user2" placeholder="手机号" class="input1 jy-ico-2" /><dd>请输入手机号</dd> </label>-->
            <!--</div>-->
            <!--<div  class="date-labe">-->
                <!--<input class="laydate-icon" placeholder="出行时间" onClick="laydate()">-->
                <!--<i></i>-->
            <!--</div>-->
            <!--<div class="date-labe numpeople-div" id="numpeople1">-->
                <!--<label>成人<i class="reduc-i">-</i><input type="text" value="1" /><i class="add-i">+</i></label>-->
                <!--<label>儿童<i class="reduc-i">-</i><input type="text" value="0" /><i class="add-i">+</i></label>-->
            <!--</div>-->
            <!--<button type="button" value="" class="but1">立即提交</button>-->
            <!--<span id="closefrom2"></span>-->
        <!--</form>-->
    <!--</div>-->
<!--</div>-->
<script type="text/javascript">
    $('.index').addClass('select1');
</script>
<script src="/statics/pc/js/hd.js"></script>
<!--底部-->
{{include file='../common/footer.html'}}

</body>
</html>